{% block content %}{% include 'header.html' %}
<header
  class="masthead"
  style="background-color: #609158"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h2 class="display-8" style="color:white;font-family: Times New Roman, Times, serif" style="color:white;font-family: Times New Roman, Times, serif">All Users</h2>

        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
<h2 class="display-8" style="color:white;font-family: Times New Roman, Times, serif">All Users</h2>
	  <table class="table table-success table-striped table-hover">
          <thead>


    <tr style="color: #fff">
      <th scope="col">User Id</th>
      <th scope="col">User Email</th>
      <th scope="col">User Name</th>
        <th scope="col">Permissions</th>

    </tr>
  </thead>
  <tbody>

  {% for user in users %}
  <tr >
      <th scope="row">{{ user.id}}</th>
      <td>{{ user.email}}</td>
      <td>{{ user.name}}</td>
      <td class="pt-1"><div class="btn-group" style="height:20px">
<!-- Example split danger button -->
          <div class="btn-group">

  <button type="button" class="btn btn-success pt-0" onclick="location.href='#'">Permissions</button>
  <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split pt-0" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>

  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{{url_for('edit_user', user_id=user.id)}}">Edit User</a></li>
      <li><a class="dropdown-item" href="{{url_for('edit_user_permission', user_id=user.id)}}">Edit User Permissions</a></li>
  </ul>

</div></div></td>

    </tr>
  {% endfor %}
  </tbody>
  	  </table>
</div>
{% include 'footer.html' %}{% endblock %}