{% block content %}{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-color: #609158"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h2 class="display-8" style="color:white;font-family: Times New Roman, Times, serif">UMA</h2>
          <h2 class="display-8" style="color:white;font-family: Times New Roman, Times, serif">Dashboard</h2>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->


{% include "footer.html" %}{% endblock %}