{% block content %}{% include 'header.html' %}
<header
  class="masthead"
  style="background-color: #609158"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
            {% if search %}
            <h2 class="display-8" style="color:white;font-family: Times New Roman, Times, serif">Display Purchase Requirements Results</h2>
            {% else %}
          <h2 class="display-8" style="color:white;font-family: Times New Roman, Times, serif">Display Purchase Requirements Details</h2>
            {% endif %}

        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-sm-12">


         {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <p class="flash" style="color:white">{{ message }}</p>
      {% endfor %}
      {% endif %}
      {% endwith %}
           <form class="form-inline" action="{{url_for('search_purchase_requirement')}}" method="post">
 <div class="col-md-3 col-lg-4 col-xl-5 py-2 container">
  <input class=" form-control" placeholder="Search Input" name="input_name">
      </div>
</form>
        {% if search %}
            <p style="color:white"> Purchase Requirements Results</p>
            {% else %}
          <p style="color:white">Purchase Requirements Details</p>
            {% endif %}
        {% if not search %}

        <div style="color:white">{{ pagination.info }}</div>
        {% endif %}

      <table class="table table-success table-striped table-hover">
          <thead>


    <tr style="color: #fff">
      <th scope="col">Id</th>
        <th scope="col"> Project Id</th>
      <th scope="col">Project Name</th>
        <th scope="col">Status</th>
        <th scope="col">date</th>
        <th scope="col">Permissions</th>
    </tr>
  </thead>
  <tbody>


  <tr >
      {% if search %}
      {% for purchase_requirement in purchase_requirements %}
      <th scope="row">{{ purchase_requirement.id}}</th>
       <td>{{ purchase_requirement.project_id}}</td>
       <td>{{ purchase_requirement.project_name}}</td>
      <td>{{ purchase_requirement.status}}</td>
      <td>{{ purchase_requirement.date}}</td>
      <td class="pt-1"><div class="btn-group" style="height:20px">
<!-- Example split danger button -->
          <div class="btn-group">

  <button type="button" class="btn btn-success pt-0" onclick="location.href='{{ url_for('display_purchase_requirement_items', purchase_requirement_id=purchase_requirement.id)}}'">display</button>
  <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split pt-0" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>

  <ul class="dropdown-menu">
 <li><a class="dropdown-item" href="{{ url_for('edit_purchase_requirement', purchase_requirement_id=purchase_requirement.id)}}">Edit</a></li>
        <li><a class="dropdown-item" href="{{ url_for('delete_purchase_requirement', purchase_requirement_id=purchase_requirement.id)}}">Delete</a></li>
        <li><a class="dropdown-item" href="{{ url_for('add_purchase_requirement_item', purchase_requirement_id=purchase_requirement.id)}}">Add Item</a></li>
  </ul>
</div></div></td>
    </tr>
  {% endfor %}
  {% else %}
     {% for purchase_requirement in purchase_requirements %}
      <th scope="row">{{ purchase_requirement.id}}</th>
       <td>{{ purchase_requirement.project_id}}</td>
      <td>{{ purchase_requirement.project_name}}</td>
  <td>{{ purchase_requirement.status}}</td>
      <td>{{ purchase_requirement.date}}</td>
      <td class="pt-1"><div class="btn-group" style="height:20px">
<!-- Example split danger button -->
          <div class="btn-group">

  <button type="button" class="btn btn-success pt-0" onclick="location.href='{{ url_for('display_purchase_requirement_items', purchase_requirement_id=purchase_requirement.id)}}'">Display</button>
  <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split pt-0" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>

  <ul class="dropdown-menu">
 <li><a class="dropdown-item" href="{{ url_for('edit_purchase_requirement', purchase_requirement_id=purchase_requirement.id)}}">Edit</a></li>
        <li><a class="dropdown-item" href="{{ url_for('delete_purchase_requirement', purchase_requirement_id=purchase_requirement.id)}}">Delete</a></li>
      <li><a class="dropdown-item" href="{{ url_for('add_purchase_requirement_item', purchase_requirement_id=purchase_requirement.id)}}">Add Item</a></li>
  </ul>



</div></div></td>
    </tr>
  {% endfor %}
  {% endif %}


  </tbody>
  	  </table>
        {% if not search %}
        {{ pagination.links }}
        {% endif %}



    </div>
  </div>
</div>

{% include 'footer.html' %}{% endblock %}