{% block content %}{% include 'header.html' %}
<header
  class="masthead"
 style="background-color: #609158"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
            {% if search %}
            <h2 class="display-8" style="color:white;font-family: Times New Roman, Times, serif">Display Expense Details Results</h2>
            {% else %}
          <h2 class="display-8" style="color:white;font-family: Times New Roman, Times, serif">Display Expense Details</h2>
            {% endif %}

        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1 style="color:white">Expense </h1>

	  <table class="table table-success table-striped table-hover">
          <thead>


    <tr style="color: #fff">
      <th scope="col"> Id</th>
      <th scope="col">Name</th>
        <th class="px-5" scope="col"></th>
        <th class="px-5" scope="col"></th>
      <th scope="col">total</th>
        <th scope="col">Permissions</th>
    </tr>
  </thead>
  <tbody>


  <tr >
      <th scope="row">{{ expense.id}}</th>
      <td>{{ expense.name}}</td>
      <td></td>
      <td></td>
      <td>{{ expense.total}}</td>
      <td class="pt-1"><div class="btn-group" style="height:20px">
<!-- Example split danger button -->
          <div class="btn-group">

  <button type="button" class="btn btn-success pt-0" onclick="location.href='#'">Permissions</button>
  <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split pt-0" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
              {% if current_user.edit_expense == 2 %}
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{{ url_for('edit_expense', expense_id=expense.id)}}">Edit</a></li>


  </ul>
              {% endif %}


</div></div></td>

    </tr>

  </tbody>
  	  </table>
         {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <p class="flash" style="color:white">{{ message }}</p>
      {% endfor %}
      {% endif %}
      {% endwith %}
           <form class="form-inline" action="{{ url_for('search_expense_details', expense_id=expense.id)}}" method="post">
 <div class="col-md-3 col-lg-4 col-xl-5 py-2 container">
  <input class=" form-control" placeholder="Search Input" name="input_name">
      </div>
</form>
        {% if search %}
            <p style="color:white">Expense Details Results</p>
            {% else %}
          <p style="color:white">Expense Details</p>
            {% endif %}
        {% if not search %}

        <div style="color:white">{{ pagination.info }}</div>
        {% endif %}

      <table class="table table-success table-striped table-hover">
          <thead>


    <tr style="color: #fff">
        <th scope="col">Id</th>
      <th scope="col">Description</th>
      <th scope="col">total</th>
        <th scope="col">Date</th>
        <th scope="col">Permissions</th>
    </tr>
  </thead>
  <tbody>


  <tr >
      {% if search %}
      {% for detail in expense_details %}
      <th scope="row">{{ detail.id}}</th>
      <td>{{ detail.description|safe}}</td>
      <td>{{ detail.total}}</td>
      <td>{{ detail.date}}</td>
      <td class="pt-1"><div class="btn-group" style="height:20px">
<!-- Example split danger button -->
          <div class="btn-group">

  <button type="button" class="btn btn-success pt-0" onclick="location.href='#'">Permissions</button>
  <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split pt-0" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
    {% if current_user.edit_expense_cash_out == 2 or current_user.delete_expense_cash_out == 2 or current_user.download_file == 2 or current_user.delete_file == 2 or current_user.upload_file == 2 %}
  <ul class="dropdown-menu">
    {% if current_user.edit_expense_cash_out == 2 %}
    <li><a class="dropdown-item" href="{{url_for('edit_expense_detail',expense_detail_id=detail.id)}}">Edit</a></li>
      {% endif %}
      {% if current_user.delete_expense_cash_out == 2 %}
      <li><a class="dropdown-item" href="{{url_for('delete_expense_detail',expense_detail_id=detail.id)}}">Delete</a></li>
      {% endif %}
      {% if detail.file_path %}
      {% if current_user.download_file == 2 %}
       <li><a class="dropdown-item" href="{{ url_for('download_file',name=detail.file_path)}}">Download File</a></li>
      {% endif %}
      {% if current_user.delete_file == 2 %}
      <li><a class="dropdown-item" href="{{ url_for('delete_upload_file', name='ExpenseDetail', id=detail.id)}}">Delete File</a></li>
      {% endif %}
      {% else %}
      {% if current_user.upload_file == 2 %}
       <li><a class="dropdown-item" href="{{ url_for('upload_file', name='ExpenseDetail', id=detail.id)}}">Upload File</a></li>
      {% endif %}
      {% endif %}
  </ul>
{% endif %}
</div></div></td>
    </tr>
  {% endfor %}
  {% else %}
    {% for detail in expense_details %}

      <th scope="row">{{ loop.index + pagination.skip}}</th>
  <td>{{ detail.description|safe}}</td>
      <td>{{ detail.total}}</td>
      <td>{{ detail.date}}</td>
      <td class="pt-1"><div class="btn-group" style="height:20px">
<!-- Example split danger button -->
          <div class="btn-group">

  <button type="button" class="btn btn-success pt-0" onclick="location.href='#'">Permissions</button>
  <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split pt-0" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
    {% if current_user.edit_expense_cash_out == 2 or current_user.delete_expense_Cash_out == 2 or current_user.download_file == 2 or current_user.delete_file == 2 or current_user.upload_file == 2 %}
  <ul class="dropdown-menu">
    {% if current_user.edit_expense_cash_out == 2 %}
    <li><a class="dropdown-item" href="{{url_for('edit_expense_detail',expense_detail_id=detail.id)}}">Edit</a></li>
      {% endif %}
      {% if current_user.delete_expense_cash_out == 2 %}
      <li><a class="dropdown-item" href="{{url_for('delete_expense_detail',expense_detail_id=detail.id)}}">Delete</a></li>
      {% endif %}
      {% if detail.file_path %}
      {% if current_user.download_file == 2 %}
       <li><a class="dropdown-item" href="{{ url_for('download_file',name=detail.file_path)}}">Download File</a></li>
      {% endif %}
      {% if current_user.delete_file == 2 %}
      <li><a class="dropdown-item" href="{{ url_for('delete_upload_file', name='ExpenseDetail', id=detail.id)}}">Delete File</a></li>
      {% endif %}
      {% else %}
      {% if current_user.upload_file == 2 %}
       <li><a class="dropdown-item" href="{{ url_for('upload_file', name='ExpenseDetail', id=detail.id)}}">Upload File</a></li>
      {% endif %}
      {% endif %}
  </ul>
{% endif %}
</div></div></td>
    </tr>
  {% endfor %}
  {% endif %}


  </tbody>
  	  </table>
        {% if not search %}
        {{ pagination.links }}
        {% endif %}



    </div>
  </div>
</div>

{% include 'footer.html' %}{% endblock %}