{% include "header.html" %}
<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/exterior-head.jpg')"
>
  <div class="container position-relative py-0 px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1 class="display-6" style="color:white;font-family: Times New Roman, Times, serif">Exterior Finishing</h1>

      </div>
    </div>
  </div>
  </div>
</header>

<div class="container pt-3">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-3 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-6 fw-bold lh-1 text" style="color:white;font-family: Times New Roman, Times, serif">Enhance Your Property's Curb Appeal with Premium Exterior Finishing Services</h1>
        <p class="lead pt-2" style="color:white;font-family: Times New Roman, Times, serif">At UMA, we understand that the exterior of your property is the first thing visitors and potential buyers see. That's why we offer a comprehensive range of exterior finishing services to enhance the beauty, durability, and value of your property.</p>

      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3 pe-0" src="static/assets/img/exterior-2.jpg" height="600" alt="" width="500">
      </div>
    </div>
  </div>


<div class="container col-xxl-12  pt-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 pt-2">
      <div class="col-lg-12">
          <h1 class="display-6 fw-bold lh-1 text" style="color:white;font-family: Times New Roman, Times, serif">Our Exterior Finishing Services Include:</h1>
      </div>
    </div>
  </div>

<div class="container col-xxl-12 ">
    <div class="row flex-lg-row-reverse  ">
      <div class="col-lg-12">
          <ol style="color:white;font-family: Times New Roman, Times, serif">
              <li>
        <p class="lead"><p><strong>Siding Installation: </strong></p> <p>Upgrade the exterior of your property with our professional siding installation services. We offer a variety of siding options, including vinyl, fiber cement, wood, and stone, to suit your style and budget. Our experienced craftsmen ensure precise installation for a flawless finish that enhances your property's curb appeal and provides lasting protection against the elements.</p>
              </li>
                 <li>
        <p class="lead"><p><strong>Exterior Painting:</strong></p><p> Give your property a fresh new look with our expert exterior painting services. Whether you're looking to refresh your current color scheme or completely transform the look of your property, our skilled painters will help you select the perfect colors and finishes to achieve the desired aesthetic. We use high-quality paints and coatings that provide long-lasting protection and enhance the beauty of your property's exterior surfaces.</p>
              </li>
                      <li>
        <p class="lead"><p><strong>Trim and Molding:</strong></p><p>Add architectural interest and character to your property with our custom trim and molding services. Our craftsmen can install decorative trim around windows, doors, eaves, and other exterior features, creating a polished and cohesive look that elevates the overall design of your property. We offer a variety of trim styles and materials to suit your preferences and complement your property's architectural style.</p>
              </li>
                       <li>
        <p class="lead"><p><strong>Deck and Patio Construction:</strong></p><p> Extend your outdoor living space with our deck and patio construction services. Whether you're looking to create a cozy deck for entertaining or a spacious patio for relaxing, our experienced builders will work with you to design and construct the perfect outdoor retreat. We use high-quality materials and construction techniques to ensure your deck or patio is not only beautiful but also durable and long-lasting.</p>
              </li>
                         <li>
                             <p class="lead"><p><strong>Landscaping:</strong></p><p>  Complete the look of your property with our landscaping and hardscaping services. From planting flower beds and installing irrigation systems to building retaining walls and pathways, our landscape designers can create a beautiful and functional outdoor environment that enhances your property's curb appeal and complements its exterior finishing.</p>
              </li>
          </ol>
      </div>
    </div>
  </div>


<div class=" container col-12"><hr/></div>
<div class="container col-xxl-10 py-5">


<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/assets/img/exterior-3.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="static/assets/img/exterior-4.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="static/assets/img/exterior-5.jpg" class="d-block w-100" alt="...">
    </div>
      <div class="carousel-item">
      <img src="static/assets/img/exterior-6.jpg" class="d-block w-100" alt="...">
    </div>
      <div class="carousel-item">
      <img src="static/assets/img/exterior-7.jpg" class="d-block w-100" alt="...">
    </div>
      <div class="carousel-item">
      <img src="static/assets/img/exterior-8.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
  </div>
<div class=" container col-12"><hr/></div>



<div class="container col-xxl-12  pt-3">
    <div class="row flex-lg-row-reverse align-items-center g-5 pt-3">
      <div class="col-lg-12">
          <h1 class="display-6 fw-bold lh-1 text" style="color:white;font-family: Times New Roman, Times, serif">Why Choose Us for Your Exterior Finishing Needs:</h1>
      </div>
    </div>
  </div>

<div class="container col-xxl-12 ">
    <div class="row flex-lg-row-reverse  ">
      <div class="col-lg-12">
          <ul style="color:white;font-family: Times New Roman, Times, serif">
              <li>
        <p class="lead" ><p><strong>Quality Craftsmanship: </strong></p><p>Our team of skilled craftsmen is dedicated to delivering exceptional quality and attention to detail in every exterior finishing project we undertake.

Personalized Service: We understand that every property is unique, which is why we take the time to listen to your needs and preferences and tailor our services to meet your specific requirements.</p>
              </li>
                 <li>
        <p class="lead"><p><strong>Customer Satisfaction:</strong></p><p>Your satisfaction is our top priority. We strive to exceed your expectations by delivering superior results, on time and within budget, while providing exceptional customer service every step of the way.</p>
              </li>

          </ul>
      </div>
    </div>
  </div>

<div class=" container col-12"><hr/></div>

<div class="container col-xxl-12  pt-3">
    <div class="row flex-lg-row-reverse align-items-center g-5 pt-3">
      <div class="col-lg-12">
          <h1 class="display-6 fw-bold lh-1 text" style="color:white;font-family: Times New Roman, Times, serif">Get Started Today:</h1>
      </div>
    </div>
  </div>

<div class="container col-xxl-12 pb-5 ">
    <div class="row flex-lg-row-reverse  ">
        <p style="color:white;font-family: Times New Roman, Times, serif">Ready to enhance the beauty and value of your property with our exterior finishing services? Contact us today to schedule a consultation with one of our experts and discover how we can transform your property's exterior into a stunning showcase of craftsmanship and design.</p>

    </div>
  </div>
{% include "footer.html" %}
